@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
:root{
    --main-color: #deab5f;
    --primary-color: #312e2e;
}
button{
    padding: 10px 30px;
    background: var(--main-color);
    border: none;
    cursor: pointer;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #100e0f;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    font-family: sans-serif;
    padding-top:15px ;
}
li{
    display: inline;
    list-style: none;
}
li a{
    color: #fff;
    text-decoration: none;
    margin-left: 40px;
    padding-bottom: 5px;
}
li a:hover{
    border-bottom: 2px solid var(--main-color);
}
.header{
    background: url(images/pexels-nao-triponez-129207.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: "Playfair Display", serif ;
    font-weight: normal;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
    text-align: center;
}

.main-headings{
    position: absolute;
    top: 7rem;
    font-size: 4rem;
    word-spacing: 10px;
    margin-bottom: -40px;
}

.primary-headings{
     position: absolute;
    bottom: 4rem;
    font-size: 4rem;
    word-spacing: 10px;
    margin-bottom: -40px;
}
.main-btn{
    position: absolute;
    bottom: 2rem;
    padding: 10px 30px;
    margin-top: 20px;
    background: transparent;
    background: var(--main-color);
    transform: translateY(60px);
}


 /* our-story start */

#Our-story{
    height: 100vh;
    margin-top: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.img{
    width: 400px;
    height: 400px;
    background: url(images/pexels-chitokan-2183027-removebg-preview.png);
    background-position: center;
    background-size: cover;
}
.title-style{
    display: flex; 
    align-items: center;
}

.title{
    font-family: "Playfair Display", serif ;
    font-size: 4rem;
    color: #fff;
    transform: translateX(-100px);
}

.line{
    width: 100px;
    height: 2px;
    background: #fff;
    transform: translateX(-120px)
}

.section-content p{
    max-width: 500px;
    color: #fff;
    font-family: sans-serif;
    line-height: 20px;
    margin: 20px 0;
}

 /* our-story end */

 /* Coffee start */

 .coffee-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10rem;
 }

 .img-2{
   width: 400px;
   height: 400px; 
 }
 .title-two{
    font-size: 3rem;
    color: #fff;
    font-family:"Playfair Display", serif  ;
 }

.content-section p{
    max-width:  500px;
    margin-top: 20px;
    font-family: sans-serif;
    color: #fff;
 }
 
/* products-Section-Start */

 .products{
    margin-top: 5rem;
 }
 .title-three{
    font-size: 4rem;
    margin-left: 10rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
 }
 .cards{
   display: flex;
   flex-wrap: wrap; 
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
 }
 .card{
    border: 2px solid var(--main-color); 
    padding: 0 20px;
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    position: relative;
    margin-bottom: 4;
 }
 .card-img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -60px;
 }
 .img-one{
    background: url(images/1.png);
    background-position: center;
    background-size: cover;
 }
 .img-two{
    background: url(images/2.png);
    background-position: center;
    background-size: cover;
 }
 .img-three{
    background: url(images/3.png);
    background-position: center;
    background-size: cover;
 }
 .card-title{
    color: white;
    font-family: sans-serif;
    margin-top: 50px;
 }
 .card .items p{
    color: #fff;
    margin: 20px 0;
    font-family: sans-serif;
    letter-spacing: 2px;
    font-size: 18px; 
 }
 
 /* products-Section-End */  
 footer {
  background: #111;
  color: #fff;
  font-family: sans-serif;
  padding: 40px 0 10px;
}

/* make only the upper part flex */
.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

footer .container {
  max-width: 300px;
  text-align: center;
}

footer .heading-info {
  margin-bottom: 20px;
}

footer p {
  line-height: 25px;
}

span {
  color: var(--main-color);
}

/* copyright paragraph */
footer .para {
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
}
footer .para {
  border-top: 1px solid #333;
  padding-top: 15px;
}
